@import url(reset.css);

// fonts
/* montserrat-regular - latin */
@font-face {
	font-family: 'montserrat-reg';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		 url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-500 - latin */
  @font-face {
	font-family: 'montserrat-med';
	font-style: normal;
	font-weight: 500;
	src: local('Montserrat Medium'), local('Montserrat-Medium'),
		 url('../fonts/montserrat-v14-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/montserrat-v14-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

// animations

.slideUpFirst {
  animation: slideUpFirst 1300ms ease;
}

@keyframes slideUpFirst {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.slideUpSecond {
  animation: slideUpSecond 1300ms ease;
}

@keyframes slideUpSecond {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

// variables
$white: #fff;
$charcoal: #222;
$charcoal-light: #4a4a4a;

// base styles
html {
	height: 100%;
	overflow: hidden;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	background: $charcoal;
	color: $white;
	height: 100%;
	font-family: 'montserrat-reg';
}

section {
	margin: auto;
	display: flex;
}

.container {
	margin: auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.container__definitions {
	max-width: 630px;
}


// typography styles
p {
	font-family: 'montserrat-reg';
	font-size: 20px;
}

a {
	color: $white;
	border-bottom: 1px solid #ffffff42;
	text-decoration: none;
}

// component styles
.definitions {
	height: 90%;
	h1.text__word {
		font-family: 'montserrat-med';
		font-size: 45px;
		display: inline;
		padding-top: 15px;
		.interpunct {
			opacity: 0.5;
			margin-left: -2px;
			margin-right: -2px;
		}
	}
	p {
		&.text__definition {
			font-size: 29px;
			line-height: 40px;
			padding-top: 15px;
		}
		&.text__type {
			display: inline;
   		 	margin-top: 16px;
    		opacity: 0.6;
			padding-left: 13px;
			position: absolute;
		}
		&.text__synonyms {
			padding-top: 35px;
			line-height: 31px;
			span.text__synonyms--title {
				opacity: 0.6;
			}
			a {
				opacity: 0.6;
				margin-left: 5px;
			}
		}
	}
}

.footer {
	height: 10%;
	width: 100%;
	ul {
		font-size: 13px;
		opacity: 0.5;
		li {
			display: inline;
			padding-right: 15px; 
			position: relative;
			span.text__credits {
				span.text--reveal {
					opacity: 0;
			    left: 20px;
			    position: absolute;
		    	-webkit-transition: left 500ms ease, opacity 200ms ease;
					transition: left 500ms ease, opacity 200ms ease;
					width: 600px;
				}
				&:hover {
					cursor: pointer;
					span.text--reveal {
						opacity: 1;
						left: 60px;
				  	-webkit-transition: left 200ms ease, opacity 500ms ease;
						transition: left 200ms ease, opacity 500ms ease;
					}
				}
			}
		}
		&.footer--left {
			bottom: 30px;
			left: 30px;
			line-height: 22px;
			position: absolute;
			text-align: center;
			right: 30px;
			@media only screen and (min-width: 700px) {
				text-align: left;
			}
		}
		&.footer--right {
			float: right;
			img {
				width: 120px;
			}
		}
	}
}
